@{
    ViewData["Title"] = "Projects Page";
}
<head>
    <style type="text/css">

        .list-group {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
        }

        .list-group-item {
            display: flex;
            margin: 1.5em;
            width: auto;
            height:3em;
            background-color: aliceblue;
        }

        .text-name {
            margin-top: auto;
            margin-bottom: auto;
            display: flex;
            padding-left: 1.2em;
            padding-right: 1.2em;
        }
    </style>
</head>

<div class="text-center">
    <h1>Projects</h1>
    <ul class="list-group">
        @foreach (var i in ViewBag.Projects)
        {
        <a >
            <li class="list-group-item">
                <div class="text-name">
                    9
                </div>
            </li>
        </a>
        }
    </ul>
    
</div>
